@import 'tools';

.insplanding .primary-content h1 {
  color: color(gray, minus2);
  font: 400 2.5rem/1 'Brand Serif';
  margin: 1rem 0 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.all-weather-wicker {
  margin: 0 auto;

  .intro p {
    margin-left: 2em;
    margin-right: 3em;
    @include media('<=md') {
      margin-left: 0;
      margin-right: 0;
    }
  }

  section {
    margin: 0 auto 3rem;
    @include media('<md') {
      margin: 0 auto 1.5rem;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  h3 {
    color: color(gray, minus2);
    font: 400 2rem/1 'Brand Serif';
    letter-spacing: 0.04em;
    padding-bottom: 0.5em;
    @include media('<=sm') {
      font-size: 2rem;
      text-align: center;
    }
  }

  h4 {
    color: color(gray, minus2);
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    @include media('<md') {
      text-align: center;
    }
  }

  h4 + p {
    margin-right: 2em;
    @include media('<=sm') {
      margin-right: 0;
    }
  }

  p {
    color: color(gray, minus2);
    font: 400 1rem/1.5 'Montserrat';
    letter-spacing: 0.25;
    padding-bottom: 0.5em;
    @include media('<=sm') {
      text-align: center;
    }
    .wicker-links {
      color: color(gray, minus2);
      text-decoration: underline;
    }
  }

  .brighten-up {
    .row {
      &:nth-child(2) {
        margin: 0 auto 2rem;
      }
    }
  }

  .cta-under {
    letter-spacing: 0.07em;
    @include media('<md') {
      text-align: center;
    }
  }
}
