.insplanding .primary-content h1 {
  color: #45474a;
  font: 400 2.5rem/1 'Brand Serif';
  margin: 1rem 0 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.all-weather-wicker {
  margin: 0 auto;
}

.all-weather-wicker .intro p {
  margin-left: 2em;
  margin-right: 3em;
}

.all-weather-wicker section {
  margin: 0 auto 3rem;
}

.all-weather-wicker section img {
  display: block;
  max-width: 100%;
}

.all-weather-wicker h3 {
  color: #45474a;
  font: 400 2rem/1 'Brand Serif';
  letter-spacing: 0.04em;
  padding-bottom: 0.5em;
}

.all-weather-wicker h4 {
  color: #45474a;
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
}

.all-weather-wicker h4+p {
  margin-right: 2em;
}

.all-weather-wicker p {
  color: #45474a;
  font: 400 1rem/1.5 'Montserrat';
  letter-spacing: 0.25;
  padding-bottom: 0.5em;
}

.all-weather-wicker p .wicker-links {
  color: #45474a;
  text-decoration: underline;
}

.all-weather-wicker .brighten-up .row:nth-child(2) {
  margin: 0 auto 2rem;
}

.all-weather-wicker .cta-under {
  letter-spacing: 0.07em;
}

@media (max-width: 48rem) {
  .all-weather-wicker .intro p {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 47.9rem) {
  .all-weather-wicker section {
    margin: 0 auto 1.5rem;
  }

  .all-weather-wicker h4 {
    text-align: center;
  }

  .all-weather-wicker .cta-under {
    text-align: center;
  }
}

@media (max-width: 34rem) {
  .all-weather-wicker h3 {
    font-size: 2rem;
    text-align: center;
  }

  .all-weather-wicker h4+p {
    margin-right: 0;
  }

  .all-weather-wicker p {
    text-align: center;
  }
}